$breakpoints: (
    smartphone-large: (min-width: 460px),
    tablet: (min-width: 640px),
    tablet-large: (min-width: 800px),
    desktop-small: (min-width:1024px),
    desktop-medium: (min-width:1280px),
    desktop-large: (min-width:1600px),
    );